<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="problem.no.repository.project.ProjectProductRepository">

    <insert id="insertProduct" parameterType="ProjectProductModel" useGeneratedKeys="true" keyProperty="productID">
        INSERT INTO Project_Product (
          projectID,
          productName,
          isOpen,
          isActive,
          inDate,
          inUser,
          lastEditUser,
          lastEditDate
        ) VALUE (
          #{projectID},
          #{productName},
          #{isOpen},
          #{isActive},
          #{inDate},
          #{inUser},
          #{lastEditUser},
          #{lastEditDate}
        )
    </insert>
    
    <update id="updateProduct" parameterType="ProjectProductModel">
        UPDATE Project_Product
        <set>
            <if test="productName != null and productName != ''">
                productName = #{productName},
            </if>
            <if test="isActive != null">
                isActive = #{isActive},
            </if>
            <if test="lastEditUser != null">
                lastEditUser = #{lastEditUser}
            </if>
        </set>
        <where>
            productID = #{productID}
        </where>
    </update>

    <select id="productIsExist" parameterType="ProjectProductModel" resultType="Boolean">
        SELECT COUNT(1) FROM Project_Product
        WHERE productName = #{productName} AND projectID = #{projectID} AND isActive = 1
        <if test="productID != null">
            productID != #{productID}
        </if>
    </select>

    <select id="queryProductList" resultType="ProjectProductModel">
        SELECT
        productID,
        projectID,
        productName,
        isOpen
        FROM Project_Product
        WHERE projectID = #{projectID} AND isActive = 1
    </select>

    <insert id="insertProductModule" parameterType="ProductModuleModel">
        INSERT INTO Project_ProductModule (
          productID,
          moduleName,
          isActive,
          inDate,
          inUser,
          lastEditUser,
          lastEditDate
        ) VALUE (
          #{productID},
          #{moduleName},
          #{isActive},
          #{inDate},
          #{inUser},
          #{lastEditUser},
          #{lastEditDate}
        )
    </insert>

    <select id="productModuleIsExist" resultType="Boolean" parameterType="ProductModuleModel">
        SELECT COUNT(1) FROM Project_ProductModule
        WHERE isActive = 1 AND moduleName = #{moduleName} AND productID = #{productID}
        <if test="moduleID != null">
            AND moduleID != #{moduleID}
        </if>
    </select>

    <select id="queryModuleList" resultType="ProductModuleModel">
        SELECT
        moduleID,
        productID,
        moduleName,
        inDate,
        inUser,
        lastEditUser
        FROM Project_ProductModule
        WHERE isActive = 1 AND productID = #{productID}
    </select>

    <update id="updateModule" parameterType="ProductModuleModel">
        UPDATE Project_ProductModule
        <set>
            <if test="isActive != null">
                isActive = #{isActive},
            </if>
            <if test="moduleName != null and moduleName != ''">
                moduleName = #{moduleName},
            </if>
            <if test="lastEditUser != null">
                lastEditUser = #{lastEditUser},
            </if>
        </set>
        <where>
            moduleID = #{moduleID}
        </where>
    </update>

</mapper>